.nutrition p {
  color: hsl(30, 10%, 34%);
  font: 400 1rem/0rem "Outfit", sans-serif;
  padding: 0;
}

.nutrition th {
  display: none;
}

.nutrition table {
  width: 100%;
  padding-bottom: 20px;
}

.nutrition td {
  color: hsl(30, 10%, 34%);
  font-size: 18px;
  padding: 12px 0;
}

.nutrition td:last-child {
  text-align: right;
  padding-left: 0;
}

.nutrition tr:not(:last-child) td {
  border-bottom: 1px solid #ececec;
}
