.preparation {
  background-color: #fdf3fa;
  border-radius: 12px;
  padding-top: 4px;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.preparation ul {
    padding-left: 20px;
}

.preparation h2 {
  font: 600 18px/0rem "Outfit", sans-serif;
  padding: 20px 20px 4px 20px;
  color: hsl(332, 51%, 32%);
}